<div class="logo">
  <a href="/" rel="canonical">
    <img src="assets/images/logo.png" alt="VLCTechHub">
  </a>
  <span class="heart">
    &hearts;
  </span>
  <a href="https://www.11defebrero.org">
    <img src="assets/images/logo-11f.png" alt="11 de Febrero">
  </a>
</div>
<header>
  <section id="intro">
  <h1 class="title">Café coloquio con tecnólogas </h1>
  <h2>7 de febrero 2018 / 18:30h / Mescafe</h2>
  <h3> <strong>¿Es necesario comportarse como un hombre para ser una mujer de éxito en tecnología? </strong> <br><br>
    <a href="https://vlctechub.org">VLCTechHub</a>, <a href="https://devwomen.com">DevWomen</a> y <a href="https://femdevs.org">DevFems</a> se unen a la iniciativa <a href="https://11defebrero.org">11 de Febrero</a> para celebrar el día de la mujer y niña en la cienca con un coloquio participativo donde tod@s pueden aportar su punto de vista.  </h3>
  <p>
  <a class="cta" href="{{site.attendees_form}}" target="_blank">El registro aún no está abierto</a>
  </p>
  </section>
</header>
